# Language Detection

In [1]:
# Lode Dataset 
import numpy as np 
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

data = pd.read_csv("Language_data.csv")
data.head()

   Unnamed: 0                                               Text  language
0           0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1           1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2           2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3           3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4           4  de spons behoort tot het geslacht haliclona en...     Dutch

In [2]:
data.isnull().sum()

Unnamed: 0    0
Text          0
language      0
dtype: int64

In [3]:
data.language.value_counts()

Pushto        1000
Indonesian    1000
Spanish       1000
Swedish       1000
Korean        1000
Chinese       1000
English       1000
Tamil         1000
Estonian      1000
Japanese      1000
Latin         1000
Hindi         1000
Portugese     1000
Urdu          1000
French        1000
Arabic        1000
Thai          1000
Romanian      1000
Persian       1000
Russian       1000
Dutch         1000
Turkish       1000
Name: language, dtype: int64

This is a very balanced dataset with no missing values, so we can say this dataset is completely ready to be used to train a machine learning model

# Language Detection Model

In [5]:
x = np.array(data['Text'])
y = np.array(data['language'])

cv = CountVectorizer()
X = cv.fit_transform(x)

In [6]:
#split Dataset into train and test 

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [8]:
model = MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [17]:
user = input("Enter a text:  ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print('\n',output)

Enter a text:  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்தி

 ['Tamil']